# -*- coding: cp1251 -*-
'''
Created on 21.08.2012

@author: Дина
'''

from wikitools import *
import codecs

site = wiki.Wiki("http://en.wiktionary.org/w/api.php")
params = {'action' : 'query',
          'list' : 'categorymembers',
          'cmtitle' : 'Category:English uncountable nouns',
          'cmlimit' : '10'
          }
request = api.APIRequest(site,params)
result = request.query()

output_file = codecs.open("D://Python27//MyProgs//uncountable2.txt", encoding="utf-8", mode="w")

for dict in result['query']['categorymembers']:
    output_file.write(dict['title']+'\n')
#print result

output_file.close()